[Desktop Entry]
Type=Application
Name=BC
Comment=A user-friendly BC wrapper
Icon=/usr/local/etc/bc_wrapper/bc_wrapper.svg
Exec=env XDG_CONFIG_HOME=/usr/local/etc/bc_wrapper xfce4-terminal -I /usr/local/etc/bc_wrapper/bc_wrapper.svg --disable-server
Categories=Utility;Education
Keywords=Calculator;BC;Math
Terminal=false
