[Desktop Entry]
Type=Application
Name=BC
Comment=A user-friendly BC wrapper
Icon=bc_wrapper.svg
Exec=env XDG_CONFIG_HOME=<TERM_CONFIG_PATH>/bc_wrapper xfce4-terminal -I <TERM_ICON_PATH>/bc_wrapper.svg --disable-server
Categories=Utility;Education
Keywords=Calculator;BC;Math
Terminal=false
